<table class="mx-auto">
	<thead>
		<tr class="bg-light">
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% customers.each do |customer| %>
			<tr class="border">
				<td><%= customer.id %></td>
				<td><%= link_to customer.full_name, admin_customer_path(customer), class: "border-bottom text-dark" %></td>
				<td><%= customer.email %></td>
				<td>
					<% if customer.is_active? %>
						<span class="text-success">有効</span>
					<% else %>
						<span class="text-dark">退会</span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>