<section class="container">
	<h2 class="bg-light">ジャンル一覧・追加</h2>

  <%= render 'form', genre: @genre, url: admin_genres_path, submit: '登録' %>

	<table>
		<thead>
			<tr class="border bg-light">
				<th>ジャンル</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @genres.each do |genre| %>
				<tr class="border">
					<td><%= genre.name %></td>

					<td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>